# Rust builds
/target
# Trunk builds
/web/dist/

rust-toolchain.toml

/assets/dump

# This file contains environment-specific configuration like linker settings
.cargo/config.toml
.vscode
.editorconfig